src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8080/FarmaciaWebSOAP/Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/FarmaciaWebSOAP/Operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="setPedido">
<part name="parameters" element="tns:setPedido"/>
</message>
<message name="setPedidoResponse">
<part name="parameters" element="tns:setPedidoResponse"/>
</message>
<message name="getMedicamentos">
<part name="parameters" element="tns:getMedicamentos"/>
</message>
<message name="getMedicamentosResponse">
<part name="parameters" element="tns:getMedicamentosResponse"/>
</message>
<message name="setMedicamento">
<part name="parameters" element="tns:setMedicamento"/>
</message>
<message name="setMedicamentoResponse">
<part name="parameters" element="tns:setMedicamentoResponse"/>
</message>
<message name="deleteMedicamento">
<part name="parameters" element="tns:deleteMedicamento"/>
</message>
<message name="deleteMedicamentoResponse">
<part name="parameters" element="tns:deleteMedicamentoResponse"/>
</message>
<portType name="Operaciones">
<operation name="setPedido">
<input wsam:Action="http://ws/Operaciones/setPedidoRequest" message="tns:setPedido"/>
<output wsam:Action="http://ws/Operaciones/setPedidoResponse" message="tns:setPedidoResponse"/>
</operation>
<operation name="getMedicamentos">
<input wsam:Action="http://ws/Operaciones/getMedicamentosRequest" message="tns:getMedicamentos"/>
<output wsam:Action="http://ws/Operaciones/getMedicamentosResponse" message="tns:getMedicamentosResponse"/>
</operation>
<operation name="setMedicamento">
<input wsam:Action="http://ws/Operaciones/setMedicamentoRequest" message="tns:setMedicamento"/>
<output wsam:Action="http://ws/Operaciones/setMedicamentoResponse" message="tns:setMedicamentoResponse"/>
</operation>
<operation name="deleteMedicamento">
<input wsam:Action="http://ws/Operaciones/deleteMedicamentoRequest" message="tns:deleteMedicamento"/>
<output wsam:Action="http://ws/Operaciones/deleteMedicamentoResponse" message="tns:deleteMedicamentoResponse"/>
</operation>
</portType>
<binding name="OperacionesPortBinding" type="tns:Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMedicamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMedicamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMedicamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Operaciones">
<port name="OperacionesPort" binding="tns:OperacionesPortBinding">
<soap:address location="http://localhost:8080/FarmaciaWebSOAP/Operaciones"/>
</port>
</service>
</definitions>